body {
	font-family: "freight-sans-pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #292929;
}
h1, h2, h3, h4, h5, h6 , p{
	margin: 0;
	padding: 0;
}
span {
	font-family: 'Libre Baskerville', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.9em;
}
/*Top NavBar*/
.wrapper {
	background: url(../img/NYC1.jpg) center top no-repeat;
	background-size:  cover;
	height: 100%;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #adadad;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}
.dalogo {
	padding: 1.2em 1.5em;
	width: 160px;
	z-index: 10;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #48bbcc;
}
.navbar-right {
	float: right;
	list-style-type: none;
	text-decoration: none;
}
.nav-content {
	padding-right: 1.5em;
	display: inline-block;
	z-index: 10;
	padding-top: 1.2em;
}
h1 {
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2.2em;
}
h2 {
	font-size: 3em;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2em;
}
h3 {
	text-align: center;
	padding: 1.2em 0;
}
/*VISION & PRACTIC AREAS*/
.main {
	margin: 0;
	padding: 5.236em 4.8828125%;
	overflow: hidden;
}
.row-a {
	max-width: 87.890625%;
	margin:  0 auto;
	width: 100%
}
.vision {
	width: 44%;
	height: 100%;
	background-color: rgba(225, 225, 225, 0.3);
	z-index: 3;	
	float: left;
	margin-bottom: 4%;

}
.goal {
	background-color: rgba(0, 0, 0, 0.8);
	color: #48bbcc;
	text-transform: uppercase;
	z-index: 4;
	font-weight: 300;
}
.goal-list {
	padding: 5% 0;
}
.vision p,
.tabs,
.toggle-tabs p{
	color: #f2f2f2;
	padding: 0 1.5em;
	line-height: 2;
	font-weight: 300;
	font-size: 17px;
}
.practice-areas {
	width: 55%;
	height: 100%;
	background-color: rgba(225, 225, 225, 0.3);
	z-index: 3;	
	float: right;
}
.tabs li {
	list-style: none;
	display: inline-block;
	font-size: 0.75em;
	font-weight: 500;
	padding: 0 2%;
	border-right: 1px solid #48bbcc;
}
.tabs li:last-child {
	border: 0 ;
	border-right: 0;
}
.active {
	border-bottom: 2px solid #48bbcc;
	color: #5be6fa;
	font-weight: 400;
}
.tabs {
	border-bottom: 1px solid #48bbcc;
	margin: 0;
}
#tab1,
#tab2,
#tab3,
#tab4 {
	display: none;
}
.toggle-tabs {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);	
	padding: 1.2em 0;
}
/*OUR TEAM*/
.team {
	max-width: 87.890625%;
	width: 100%;
	overflow: hidden;
	padding: 0 6%;
	/*background-color: #fff;*/
	background: url(../img/profilephoto3.png) left top no-repeat;
	background-size: cover;
}
.team h2 {
	color: #f2f2f2;
	text-align: left;
}
.name {
	color: #48bbcc;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 400;
	padding-top: 2em;
	text-align: left;
}
.profile {
	float: left;
}
.bio {
	width: 30%;
	line-height: 1.5;
	font-family: 'Libre Baskerville', serif;
	-webkit-font-smoothing: antialiased;
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	z-index: 4;
	font-size: 80%;
	padding-bottom: 2em;
}
/*Achievement*/
.highlights {
	background-color: #f2f2f2;
	padding: 2em;
}
.achievement {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 1.2em 2em;
	font-size: 1.2em;
	font-weight: 200;
	line-height: 1.5;
}
.achievement a {
	color: #48bbcc;
	font-style: italic;
}
.achievement a:hover {
	color: #fff;
	text-shadow: 2px 2px #cdcdcd;
}
/*Second Attorney*/
.second-bio {
	background-color: #fff;
	max-width: 87.890625%;
	width: 100%;
	overflow: hidden;
	padding: 0 6%;
}
.sg-profile {
	width: 30%;
}
.bio-SG {
	line-height: 1.5;
	font-family: 'Libre Baskerville', serif;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 3em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	float: right;
	font-size: 90%;
}
.row-bio {
	overflow: hidden;
	display: inline;
}
.sg-email {
	color: #292929;
	font-family: "freight-sans-pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.7em;
}
.sg-email a:hover {
	color: #48bbcc;
}
/*OUR SERVICE*/
.services {
	background: url(../img/services.jpg) center top no-repeat;
	height: 100%;	
}
.services h2 {
	color: #f2f2f2;
}
.service-a {
	padding: 2em 0;
	color: #f2f2f2;
	width: 98%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
	font-family: 'Libre Baskerville', serif;
	-webkit-font-smoothing: antialiased;
}
.row-b {
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	line-height: 1.5;
	color: #f2f2f2;
}
.service-b,
.service-c,
.service-d,
.service-e {
	background-color: rgba(0,0,0, 0.4);
	padding: 0 1.5em 1.5em 1.5em;
	border-bottom: 1px solid #48bbcc;
}
.service-e {
	border-bottom: 0;
}
.service-b span a {
	font-style: italic;
}
.service-b span a:hover {
	color: #48bbcc;
}
.service-e {
	padding-bottom: 3em;
}

/*CONTACT SECTION*/
.contact {
	background-color: #000;
	color: #f2f2f2;
	height: 100%;
	padding-bottom: 1.5em;
}
.c-icon {
	width: 80%;
	padding-top: 3em;
}
.contact-info {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 0;
	line-height: 1.5;
	text-align: center;
}
h5 {
	font-weight: 200;
	font-size: 1.25em;
	padding-bottom: 1.2em;
}
.social-media {
	list-style: none;
	/*padding-left: 0.8em;*/
	padding-bottom: 1.2em;
}
.social-media a {
	font-size: 0.9em;
}
.social-media li {
	display: inline;
	padding: 0 0.8em;
	margin: 0;
}
ul.social-media {
	padding-left: 0;
}
.social-media a:hover {
	color: #48bbcc;
}
.da-law {
	color: #48bbcc;
}
/*Footer*/
.footer {
	background-color: #48bbcc;
	color: #fff;
	font-weight: 200;
	padding: 1.2em;
	font-size: 85%;
}
.footer a:hover {
	color: #000;
}
/*Media Query: max-width 768*/
@media screen and (max-width: 768px) {
	.row-a {
		max-width: 99.890625%;
	}
	.team {
		max-width: 0;
		background: url(../img/profilephoto3.png) center top no-repeat;
	}

}
/*Media Query: max-width 480 */
@media screen and (max-width: 480px) {
	
}
